.search-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-filter input,
.search-filter select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
}

.search-filter button {
  background: #eee;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.search-filter button:hover {
  background: #ddd;
}
